---
const title = "About";
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
import FAQs from "../components/React/FAQs";
---
<BaseLayout title="About">
    <Hero slot="hero"/>
    <section slot="content">
        <div class="py-4 mt-4">
            <h1 class="font-semibold text-3xl">Frequently Asked Questions</h1>
        </div>
        <div>
            <h2 class="font-normal">Here are few of the most frequently asked questions by our valued customers</h2>
        </div>
        <FAQs client:load/>
    </section>
</BaseLayout>