---
import BaseLayout from "../layouts/BaseLayout.astro"
import Carousel from "../components/React/ReactCarousel.jsx"
---
<BaseLayout title="Home" header="Home">
    <div class=" bg-blue-950">
        <Carousel client:load />
    </div>
</BaseLayout>