---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
---
<BaseLayout title="Home" header="Home">
    <Hero slot="hero"/>
    <section slot="content">

    </section>
</BaseLayout>