---
import Navigation from "./Navigation.astro";
import Carousel from "./React/ReactCarousel.jsx";
---
<header>
    <Navigation/>
    <div class=" bg-blue-950">
        <Carousel client:load />
    </div>
    <div>

    </div>
</header>